Repository Arylo/gitbook-plugin-multi-books: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --tab-width 4, npm run lint:typescript -- --fix, npm run lint:javascript -- --fix, prettier --write --tab-width 2, prettier --write --tab-width 2 --parser json

.lintstagedrc:

{
  "linters": {
    "./**/*.ts": [
      "prettier --write --tab-width 4",
      "npm run lint:typescript -- --fix",
      "git add"
    ],
    "./**/*.js": [
      "prettier --write --tab-width 4",
      "npm run lint:javascript -- --fix",
      "git add"
    ],
    "./**/*.{json,yaml,yml}": ["prettier --write --tab-width 2", "git add"],
    "./.lintstagedrc": [
      "prettier --write --tab-width 2 --parser json",
      "git add"
    ]
  },
  "globOptions": {
    "dot": true
  }
}

feat: add page flag classname
  .gitignore
  lib/index.js
  package.json
Due: prettier --write --tab-width 4, npm run lint:javascript -- --fix, prettier --write --tab-width 2

fix: 修正初始化可能失败
  lib/assets/pageflag.js
  lib/index.js
Due: prettier --write --tab-width 4, npm run lint:javascript -- --fix

feat: support add last page flag
  lib/assets/pageflag.js
  lib/index.js
Due: prettier --write --tab-width 4, npm run lint:javascript -- --fix

chore: update project template
  .huskyrc.json
  .lintstagedrc
  .travis.yml
  _scripts/.prettierrc.yml
  _scripts/README.md
  _scripts/commitlint.config.js
  package.json
Due: prettier --write --tab-width 4, npm run lint:javascript -- --fix, prettier --write --tab-width 2, prettier --write --tab-width 2 --parser json

refactor: make source rewrite to typescript
  assets/pageFlag/index.js
  lib/index.js
  lib/index.ts
  lib/pageFlag/index.ts
  lib/types/gitbook.d.ts
  lib/types/plugin.d.ts
  lib/utils/index.ts
  package.json
  test/index.spec.ts
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, npm run lint:javascript -- --fix, prettier --write --tab-width 2

chore: change project mode to lerna
  .eslintignore
  .gitignore
  .travis.yml
  lerna.json
  package.json
  packages/common/.scripts/tsconfig.json
  packages/common/.scripts/tsconfig.prod.json
  packages/common/.scripts/tsconfig.test.json
  packages/common/lib/index.ts
  packages/common/lib/types/gitbook.d.ts
  packages/common/lib/types/plugin.d.ts
  packages/common/lib/utils/index.ts
  packages/common/package.json
  packages/common/test/index.spec.ts
  packages/multi-books/.scripts/tsconfig.json
  packages/multi-books/.scripts/tsconfig.prod.json
  packages/multi-books/.scripts/tsconfig.test.json
  packages/multi-books/lib/index.ts
  packages/multi-books/package.json
  packages/multi-books/test/index.spec.ts
  packages/page-flag/.scripts/tsconfig.json
  packages/page-flag/.scripts/tsconfig.prod.json
  packages/page-flag/.scripts/tsconfig.test.json
  packages/page-flag/.tmp/lib/plugin.d.ts
  packages/page-flag/.tmp/lib/plugin.d.ts.map
  packages/page-flag/.tmp/lib/plugin.js
  packages/page-flag/.tmp/lib/plugin.js.map
  packages/page-flag/.tmp/test/index.spec.d.ts
  packages/page-flag/.tmp/test/index.spec.d.ts.map
  packages/page-flag/.tmp/test/index.spec.js
  packages/page-flag/.tmp/test/index.spec.js.map
  packages/page-flag/assets/index.js
  packages/page-flag/lib/index.ts
  packages/page-flag/lib/plugin.ts
  packages/page-flag/package.json
  packages/page-flag/test/index.spec.ts
  test/index.spec.ts
  tsconfig.json
  tsconfig.test.json
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, npm run lint:javascript -- --fix, prettier --write --tab-width 2

ci: update publish script
  .travis.yml
  package.json
  packages/common/lib/index.ts
  packages/common/lib/utils/index.ts
  packages/common/test/index.spec.ts
  packages/multi-books/lib/index.ts
  packages/multi-books/package.json
  packages/page-flag/package.json
Due: prettier --write --tab-width 4, npm run lint:typescript -- --fix, prettier --write --tab-width 2

chore: fixed command `npm postinstall`
  package.json
Due: prettier --write --tab-width 2

chore: update publish script
  .travis.yml
  package.json
Due: prettier --write --tab-width 2
